a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

img {
    margin-right: 10px;
    border-radius: 10px;
}

button {
    float: right;
}

.settings {
    color: white;
}