<div id="content">
    <div class="card" style="width: 18rem;">
        <!-- <img src="../../../assets/custom/profilepic.PNG" class="card-img-top" alt="..."> -->
        <i class="bi bi-graph-up"></i>
        <div class="card-body">
            <h5 class="card-title">Dashboard</h5>
            <p class="card-text">Permite saber el estado de la web de ECS en tiempo real.</p><br>
            <a href="dashboard" class="btn btn-primary">Llevame</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img src="../../../assets/custom/profilepic.PNG" class="card-img-top" alt="..."> -->
        <i class="bi bi-card-checklist"></i>
        <div class="card-body">
            <h5 class="card-title">Report Generator</h5>
            <p class="card-text">Esta aplicación te permite generar reportes de forma rapida y eficiente.</p>
            <a href="report" class="btn btn-primary">Llevame</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img src="../../../assets/custom/profilepic.PNG" class="card-img-top" alt="..."> -->
        <i class="bi bi-file-earmark-spreadsheet"></i>
        <div class="card-body">
            <h5 class="card-title">Budget Generator</h5>
            <p class="card-text">Esta aplicación te permite generar reportes de forma rapida y eficiente.</p>
            <a href="budget" class="btn btn-primary">Llevame</a>
        </div>
    </div>
</div>